<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    
       
        <link rel="stylesheet" href="css/styles.css">
        <title>RESTAURATION</title>
</head>
<body>
    <div class="contenair site">
        <h1 class="text-logo">SYLLA RESTAURATION</h1>
        <div class="tab-content">
            <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="image/burger.jpg" alt="BURGER">
                             <div class="price"><marquee>  1500 FCFA </marquee></div>
                                    <div class="caption">
                                    <marquee behavior="" direction=""> <h4 style="color:lightsalmon">DU BURGER 1500 FCFA </h4></marquee>
                                    
                                    <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="image/burger-2.jpg" alt="BERGER">
                               <div class="price"><marquee>  1500 FCFA </marquee></div> 
                                    <div class="caption">
                                    <marquee behavior="" direction=""><h4 style="color:lightsalmon">DU BERGER 1500 FCFA</h4></marquee>
                                    
                                    <a href="/inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                </div>

                        </div>
                    </div>
               
                    <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="image/celebration-3.jpg" alt="POULET">
                                     <div class="price"><marquee> 7000 FCFA </marquee></div>
                                            <div class="caption">
                                            <marquee behavior="" direction=""><h4 style="color:lightsalmon">POULET 7000 FCFA</h4></marquee>
                                            
                                            <a href="/inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                        </div>

                                </div>
                            </div>       
                    </div>

                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="image/chicken1.jpg" alt="Poulet Super">
                                    <div class="price"><marquee>  8000FCFA </marquee></div>
                                        <div class="caption">
                                        <marquee behavior="" direction=""><h4 style="color:lightsalmon">Poulet Super  8000 FCFA </h4></marquee>
                                        
                                        <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                    </div>

                            </div>
                    </div>

                     <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="image/chicken1.jpg" alt="Poulet">
                                    <div class="price"><marquee>  8000 FCFA </marquee></div>
                                        <div class="caption">
                                         <marquee behavior="" direction=""><h4 style="color:lightsalmon">Poulet  8000 FCFA </h4></marquee>
                                       
                                        <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                    </div>

                            </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="image/meat-8.jpg" alt="Spécial Répas">
                                    <div class="price"><marquee>  6000 FCFA </marquee></div>
                                        <div class="caption">
                                        <marquee behavior="" direction=""><h4 style="color:lightsalmon">Spécial Répas 6000 FCFA </h4></marquee>
                                       
                                        <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                    </div>

                            </div>
                    </div>
                     <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="image/burger-4.jpg" alt="BURGER & Frite">
                              <div class="price"><marquee>  3500FCFA </marquee></div>
                                    <div class="caption">
                                    <marquee behavior="" direction=""><h4 style="color:lightsalmon">BURGER & Frite 3500FCFA</h4></marquee>
                                    
                                    <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="image/meat-18.jpg" alt="Viande a la Soupe">
                                     <div class="price"><marquee>  2500 FCFA </marquee></div>
                                        <div class="caption">
                                        <marquee behavior="" direction=""><h4 style="color:lightsalmon">Viande a la Soupe 3000 FCFA</h4></marquee>
                                        
                                        <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                    </div>

                            </div>
                    </div>
                    
                     <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="image/egg-3.jpg" alt="Oeuf Aromatiser">
                                    <div class="price"><marquee>  3000 FCFA </marquee></div>
                                        <div class="caption">
                                         <marquee behavior="" direction=""><h4 style="color:lightsalmon">Oeuf Spécial 3000 FCFA</h4></marquee>
                                       
                                        <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                    </div>

                            </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="image/chicken.jpg" alt="PIZZA Moderne">
                                    <div class="price"><marquee>  10000 FCFA </marquee></div>
                                        <div class="caption">
                                        <marquee behavior="" direction=""><h4 style="color:lightsalmon"> PIZZA Moderne 10000 FCFA</h4></marquee>

                                        <a href="inscription" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Commander</a>
                                    </div>

                            </div>
                    </div>
                    
                

        </div>



    </div>
   
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery.js"></script>
</body>
</html>
